body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:723px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u265 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u266 {
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:667px;
}
#u267 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u268 {
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:20px;
}
#u269 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:4px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(107, 107, 107, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u271 {
  position:absolute;
  left:395px;
  top:61px;
  width:3px;
  height:4px;
}
#u272 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:6px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(107, 107, 107, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u273 {
  position:absolute;
  left:400px;
  top:59px;
  width:3px;
  height:6px;
}
#u274 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:8px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(107, 107, 107, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u275 {
  position:absolute;
  left:405px;
  top:57px;
  width:3px;
  height:8px;
}
#u276 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:10px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(107, 107, 107, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u277 {
  position:absolute;
  left:410px;
  top:55px;
  width:3px;
  height:10px;
}
#u278 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u279 {
  position:absolute;
  left:209px;
  top:53px;
  width:57px;
  height:15px;
  font-size:11px;
}
#u280 {
  position:absolute;
  left:2px;
  top:1px;
  width:53px;
  word-wrap:break-word;
}
#u281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u281 {
  position:absolute;
  left:65px;
  top:70px;
  width:345px;
  height:40px;
}
#u282 {
  position:absolute;
  left:2px;
  top:12px;
  width:341px;
  word-wrap:break-word;
}
#u283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:345px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u283 {
  position:absolute;
  left:98px;
  top:211px;
  width:280px;
  height:345px;
}
#u284 {
  position:absolute;
  left:2px;
  top:164px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u285 {
  position:absolute;
  left:113px;
  top:220px;
  width:55px;
  height:55px;
}
#u286 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u287 {
  position:absolute;
  left:133px;
  top:510px;
  width:192px;
  height:27px;
}
#u288 {
  position:absolute;
  left:2px;
  top:6px;
  width:188px;
  word-wrap:break-word;
}
#u289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:61px;
}
#u289 {
  position:absolute;
  left:169px;
  top:657px;
  width:120px;
  height:60px;
}
#u290 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u291 {
  position:absolute;
  left:207px;
  top:263px;
  width:45px;
  height:230px;
}
#u292 {
  position:absolute;
  left:2px;
  top:107px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u293 {
  position:absolute;
  left:220px;
  top:268px;
  width:20px;
  height:103px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u294 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  word-wrap:break-word;
}
#u295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u295 {
  position:absolute;
  left:346px;
  top:211px;
  width:20px;
  height:70px;
  font-size:11px;
}
#u296 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  word-wrap:break-word;
}
#u297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:291px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u297 {
  position:absolute;
  left:410px;
  top:234px;
  width:15px;
  height:291px;
}
#u298 {
  position:absolute;
  left:2px;
  top:138px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u299 {
  position:absolute;
  left:65px;
  top:80px;
  width:20px;
  height:20px;
  opacity:0.7;
}
#u300 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u301_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:21px;
  height:324px;
}
#u301p000 {
  position:absolute;
  left:-157px;
  top:156px;
  width:315px;
  height:1px;
}
#u301p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:335px;
  height:12px;
}
#u301p001 {
  position:absolute;
  left:-167px;
  top:145px;
  width:22px;
  height:22px;
}
#u301p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:33px;
}
#u301p002 {
  position:absolute;
  left:156px;
  top:156px;
  width:2px;
  height:1px;
}
#u301p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:12px;
}
#u301.compound {
  width:0px;
  height:0px;
}
#u301 {
  position:absolute;
  left:302px;
  top:79px;
  width:1px;
  height:313px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u302 {
  position:absolute;
  left:-154px;
  top:148px;
  width:309px;
  visibility:hidden;
  -webkit-transform:rotate(-270deg);
  -moz-transform:rotate(-270deg);
  -ms-transform:rotate(-270deg);
  transform:rotate(-270deg);
  word-wrap:break-word;
  transform-origin:154.5px 8.5px;
  -ms-transform-origin:154.5px 8.5px;
  -moz-transform-origin:154.5px 8.5px;
  -webkit-transform-origin:154.5px 8.5px;
}
#u303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#00CC00;
}
#u303 {
  position:absolute;
  left:459px;
  top:228px;
  width:78px;
  height:15px;
  font-size:13px;
  color:#00CC00;
}
#u304 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u305_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:21px;
  height:210px;
}
#u305p000 {
  position:absolute;
  left:-100px;
  top:99px;
  width:201px;
  height:1px;
}
#u305p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:221px;
  height:12px;
}
#u305p001 {
  position:absolute;
  left:-110px;
  top:88px;
  width:22px;
  height:22px;
}
#u305p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:33px;
}
#u305p002 {
  position:absolute;
  left:99px;
  top:99px;
  width:2px;
  height:1px;
}
#u305p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:12px;
}
#u305.compound {
  width:0px;
  height:0px;
}
#u305 {
  position:absolute;
  left:451px;
  top:121px;
  width:1px;
  height:199px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u306 {
  position:absolute;
  left:-97px;
  top:92px;
  width:195px;
  visibility:hidden;
  -webkit-transform:rotate(-270deg);
  -moz-transform:rotate(-270deg);
  -ms-transform:rotate(-270deg);
  transform:rotate(-270deg);
  word-wrap:break-word;
  transform-origin:97.5px 7.5px;
  -ms-transform-origin:97.5px 7.5px;
  -moz-transform-origin:97.5px 7.5px;
  -webkit-transform-origin:97.5px 7.5px;
}
#u307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#00CC00;
}
#u307 {
  position:absolute;
  left:551px;
  top:212px;
  width:172px;
  height:61px;
  font-size:13px;
  color:#00CC00;
}
#u308 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u309_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:21px;
  height:336px;
}
#u309p000 {
  position:absolute;
  left:-163px;
  top:162px;
  width:327px;
  height:1px;
}
#u309p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:347px;
  height:12px;
}
#u309p001 {
  position:absolute;
  left:-173px;
  top:151px;
  width:22px;
  height:22px;
}
#u309p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:33px;
}
#u309p002 {
  position:absolute;
  left:162px;
  top:162px;
  width:2px;
  height:1px;
}
#u309p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:12px;
}
#u309.compound {
  width:0px;
  height:0px;
}
#u309 {
  position:absolute;
  left:388px;
  top:163px;
  width:1px;
  height:325px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u310 {
  position:absolute;
  left:-160px;
  top:154px;
  width:321px;
  visibility:hidden;
  -webkit-transform:rotate(-270deg);
  -moz-transform:rotate(-270deg);
  -ms-transform:rotate(-270deg);
  transform:rotate(-270deg);
  word-wrap:break-word;
  transform-origin:160.5px 8.5px;
  -ms-transform-origin:160.5px 8.5px;
  -moz-transform-origin:160.5px 8.5px;
  -webkit-transform-origin:160.5px 8.5px;
}
#u311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#00CC00;
}
#u311 {
  position:absolute;
  left:551px;
  top:317px;
  width:142px;
  height:15px;
  font-size:13px;
  color:#00CC00;
}
#u312 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u313_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:21px;
  height:181px;
}
#u313p000 {
  position:absolute;
  left:-85px;
  top:84px;
  width:172px;
  height:1px;
}
#u313p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:192px;
  height:12px;
}
#u313p001 {
  position:absolute;
  left:-95px;
  top:73px;
  width:22px;
  height:22px;
}
#u313p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:33px;
}
#u313p002 {
  position:absolute;
  left:85px;
  top:84px;
  width:2px;
  height:1px;
}
#u313p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:12px;
}
#u313.compound {
  width:0px;
  height:0px;
}
#u313 {
  position:absolute;
  left:374px;
  top:441px;
  width:1px;
  height:170px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u314 {
  position:absolute;
  left:-82px;
  top:77px;
  width:166px;
  visibility:hidden;
  -webkit-transform:rotate(-270deg);
  -moz-transform:rotate(-270deg);
  -ms-transform:rotate(-270deg);
  transform:rotate(-270deg);
  word-wrap:break-word;
  transform-origin:82.5px 8px;
  -ms-transform-origin:82.5px 8px;
  -moz-transform-origin:82.5px 8px;
  -webkit-transform-origin:82.5px 8px;
}
#u315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#00CC00;
}
#u315 {
  position:absolute;
  left:470px;
  top:519px;
  width:78px;
  height:15px;
  font-size:13px;
  color:#00CC00;
}
#u316 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u317_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:21px;
  height:54px;
}
#u317p000 {
  position:absolute;
  left:-22px;
  top:21px;
  width:45px;
  height:1px;
}
#u317p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:65px;
  height:12px;
}
#u317p001 {
  position:absolute;
  left:-32px;
  top:10px;
  width:22px;
  height:22px;
}
#u317p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:33px;
}
#u317p002 {
  position:absolute;
  left:21px;
  top:21px;
  width:2px;
  height:1px;
}
#u317p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:12px;
}
#u317.compound {
  width:0px;
  height:0px;
}
#u317 {
  position:absolute;
  left:438px;
  top:382px;
  width:1px;
  height:43px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u318 {
  position:absolute;
  left:-19px;
  top:14px;
  width:39px;
  visibility:hidden;
  -webkit-transform:rotate(-270deg);
  -moz-transform:rotate(-270deg);
  -ms-transform:rotate(-270deg);
  transform:rotate(-270deg);
  word-wrap:break-word;
  transform-origin:19.5px 7.5px;
  -ms-transform-origin:19.5px 7.5px;
  -moz-transform-origin:19.5px 7.5px;
  -webkit-transform-origin:19.5px 7.5px;
}
#u319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#00CC00;
}
#u319 {
  position:absolute;
  left:470px;
  top:395px;
  width:193px;
  height:15px;
  font-size:13px;
  color:#00CC00;
}
#u320 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u321_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:21px;
  height:199px;
}
#u321p000 {
  position:absolute;
  left:-94px;
  top:93px;
  width:190px;
  height:1px;
}
#u321p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:210px;
  height:12px;
}
#u321p001 {
  position:absolute;
  left:-104px;
  top:82px;
  width:22px;
  height:22px;
}
#u321p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:42px;
  height:33px;
}
#u321p002 {
  position:absolute;
  left:94px;
  top:93px;
  width:2px;
  height:1px;
}
#u321p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:12px;
}
#u321.compound {
  width:0px;
  height:0px;
}
#u321 {
  position:absolute;
  left:365px;
  top:593px;
  width:1px;
  height:188px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u322 {
  position:absolute;
  left:-92px;
  top:86px;
  width:184px;
  visibility:hidden;
  -webkit-transform:rotate(-270deg);
  -moz-transform:rotate(-270deg);
  -ms-transform:rotate(-270deg);
  transform:rotate(-270deg);
  word-wrap:break-word;
  transform-origin:92.5px 8px;
  -ms-transform-origin:92.5px 8px;
  -moz-transform-origin:92.5px 8px;
  -webkit-transform-origin:92.5px 8px;
}
#u323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#00CC00;
}
#u323 {
  position:absolute;
  left:459px;
  top:678px;
  width:142px;
  height:15px;
  font-size:13px;
  color:#00CC00;
}
#u324 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
